body
{
  overflow:hidden;
  background:#000;
}

#wrapper
{
  position:absolute;
  background:#444;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  overflow:hidden;
}

canvas
{
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;

  padding:0px;
  margin:0px;
  overflow:hidden;

  image-rendering:-moz-crisp-edges;
  image-rendering:-webkit-crisp-edges;
  image-rendering:pixelated;
  image-rendering:crisp-edges;
}

#canvas
{
  background:rgb(17,34,102);
  background:radial-gradient(circle, rgba(17,34,102,1) 35%, rgba(3,17,75,1) 100%);
}
